# data science
pandas~=2.0.0
numpy~=1.24.2

# dataviz
# plotly.express
dash~=2.15.0
dash-bootstrap-components
dash_bootstrap_templates
dash-daq
plotly-express
# Finance
yfinance~=0.2.18
pandas_datareader

# Server
gunicorn

#other
datetime~=5.1
boto3
botocore
plotly~=5.14.1
flask
flask-restful
aws-cdk-lib==2.208.0
constructs>=10.0.0,<11.0.0
# google-api-python-client
dash-extensions
