# data science
pandas~=2.0.0
numpy~=1.24.2

# dataviz
plotly.express
dash~=2.9.3
dash-bootstrap-components
dash_bootstrap_templates

# Finance
yfinance~=0.2.18
pandas_datareader

# Server
gunicorn

#other
datetime~=5.1
boto3
plotly~=5.14.1

google-api-python-client
